- name: Validate configuration (Redmine)
  when: >
    redmine_url | default('') | length == 0 
    or redmine_api_key | default('') | length == 0
  set_fact:
    offboarding_results: "{{ offboarding_results + [ {
      'system': 'Redmine',
      'action': 'deactivate',
      'status': 'failed',
      'reason': 'Missing redmine_url or redmine_api_key'} ] }}"
    redmine_validation_failed: true

- name: Find user (Redmine)
  when: not (redmine_validation_failed | default(false))
  uri:
    url: "{{ redmine_url }}/users.json?limit={{ redmine_page_size }}&offset={{ item }}&status=1&mail={{ target_email }}"
    method: GET
    headers:
      X-Redmine-API-Key: "{{ redmine_api_key }}"
    return_content: true
    status_code: 200
  loop: "{{ range(0, redmine_max_pages * redmine_page_size, redmine_page_size) | list }}"
  register: rdmn_users

- name: Pick user (Redmine)
  when: not (redmine_validation_failed | default(false))
  set_fact:
    rdmn_user: >-
      {{
        (rdmn_users.results | map(attribute='json.users') | list | flatten
        | selectattr('mail','equalto', target_email)
        | first | default({}))
      }}

- name: Set found flag (Redmine)
  set_fact:
    rdmn_user_found: "{{ (rdmn_user.id | default(0) | int) > 0 }}"


- name: Lock user (Redmine)
  when:
  - not (redmine_validation_failed | default(false))
  - rdmn_user_found | default(false)
  uri:
    url: "{{ redmine_url }}/users/{{ rdmn_user.id }}.json"
    method: PUT
    headers:
      X-Redmine-API-Key: "{{ redmine_api_key }}"
    body_format: json
    body:
      user:
        status: 3
    status_code: 204

- name: Record deactivation result (Redmine)
  when: not( redmine_validation_failed | default(false))
  set_fact:
    offboarding_results: "{{ offboarding_results + [ {
      'system': 'Redmine',
      'action': 'Deactivate',
      'status': (
        'ok' if rdmn_user_found
        else 'skipped'),
      'reason': (
        'User not found or already deactivated' if not rdmn_user
        else ('User deactivated' if rdmn_user_found)) } ] }}"