- name: Validate RocketChat variables
  when: >
    rocketchat_url | length == 0
    or rocketchat_auth_token | length == 0
    or rocketchat_auth_user_id | length == 0
  set_fact:
    offboarding_results: "{{ offboarding_results + [ {
      'system': 'RocketChat',
      'action': 'deactivate',
      'status': 'failed',
      'reason': 'Missing RocketChat variable' 
    } ] }}"
    rocketchat_validation_failed: true
    
- name: Offboard user in Rocketchat
  when: not (rocketchat_validation_failed | default(false))
  debug:
    msg: "TODO: Disable Rocketchat user {{ target_email }}"
