- name: Offboard user by email address
  hosts: localhost
  gather_facts: false
  vars:
    target_email: "{{ (email | default('', true)) | default(lookup('env','OFFBOARD_EMAIL') | default('', true), true) | trim | lower }}"
  vars_files:
    - group_vars/all.yml
    - group_vars/secrets.yml

  pre_tasks:
    - name: Validate that email is provided
      assert:
        that:
          - target_email | length > 3
          - "'@' in target_email"
        fail_msg: "Provide email via -e email=useremail@domain or env OFFBOARD_EMAIL"
      tags: ["always"]

    - name: Init result list
      set_fact: 
        offboarding_results: []
      tags: ["always"]

  tasks:
    - name: Offboard in RocketChat
      import_tasks: tasks/rocketchat.yml
      tags: ["rocketchat"]

    - name: Offboard in Redmine
      import_tasks: tasks/redmine.yml
      tags: ["redmine"]
    
    - name: Offboarding Gitlab
      import_tasks: tasks/gitlab.yml
      tags: ["gitlab"]

    - name: Offboarding Atlassian
      import_tasks: tasks/atlassian.yml
      tags: ["atlassian"]

    - name: Revoke Jetbrains licences
      import_tasks: tasks/jetbrains.yml
      tags: ["jetbrains"]

    - name: Offboarding Moodle
      import_tasks: tasks/moodle.yml
      tags: ["moodle"]

    - name: Build offboarding summary
      set_fact:
        offboarding_summary: "{{ offboarding_summary | default({}) | combine({
          item.system: {
            'status': item.status
          }}) }}"
      loop: "{{ offboarding_results }}"
      tags: ["always"]

    - name: List offboarding_results
      debug:
        msg: "{{ offboarding_summary | default([])}}"
      tags: ["always"]
